@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
	--body-bg-color: #e4e6f5;
	--border-color: #e5e4e9;
	--theme-bg-color: #fff;
	--body-color: #1b1f31;
	--main-color: #7a7e9d;
	--main-light-color: #a1a4b9;
	--title-color: #979dc3;
	--body-font: "Jost", sans-serif;
	--button-bg-color: #eaeefc;
	--button-color: #4d76fd;
	--unselected-mail: #f1f2f7;
	--calendar-border-color: #cbcfe0;
	--main-container-bg: #f0f0f7;
}
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 body {
	 height: 100vh;
	 background: #e7e7e7;
	 font-family: "Lato", sans-serif;
	 display: grid;
}
 a {
	 text-decoration: none;
}
 ul {
	 list-style: none;
}
 .container {
	 width: 96%;
	 margin: auto;
	 border-radius: 10px;
	 display: grid;
	 grid-template-columns: 20% 1fr;
}
 .container img {
	 width: 70px;
	 height: 70px;
	 border-radius: 50%;
}
 .aside, .main {
	 padding: 3em;
}
 .aside {
	 background-color: #ff92b4;
	 background-image: linear-gradient(174deg, #006769 0%, #006769 100%);
	 font-size: 0.9rem;
	 color: #fff;
	 border-top-left-radius: 10px;
	 border-bottom-left-radius: 10px;
}
 .user {
	 display: grid;
	 grid-template-columns: 40% 1fr;
	 align-items: center;
}
 .user__info h4 {
	
	 font-weight: normal;
	 letter-spacing: 1px;
	 margin-bottom: 7px;
}
 .user__info p {
	 font-size: 0.7rem;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 font-weight: bold;
}
 nav {
	 font-size: 0.7rem;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 font-weight: bold;
	 padding: 0 1em;
	 margin-top: 20%;
}
 nav ul li {
	 display: grid;
	 grid-template-columns: 30px 1fr;
	 align-items: center;
	 padding: 16px 0;
	 cursor: pointer;
	 transition: 0.2s;
}
 nav ul li:hover span {
	 color: #fff;
}
 nav ul li:hover svg {
	 stroke: #fff;
}
 nav ul li svg {
	 width: 18px;
	 height: 18px;
}
 nav ul li {
	 cursor: default;
}
 nav ul li{
	 color: #d6d6d6;
}
 .settings {
	 margin-top: 30%;
	 padding: 0 1em;
	 display: grid;
	 grid-template-columns: 30px 1fr;
	 align-items: center;
	 color: #d6d6d6;
	 font-size: 0.7rem;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 font-weight: bold;
	 cursor: pointer;
	 transition: 0.2s;
}
 .settings:hover span {
	 color: #fff;
}
 .settings:hover svg {
	 stroke: #fff;
}
 .settings svg {
	 width: 18px;
	 height: 18px;
}
 .main {
	 background-color: #f1f1f1;
	 border-top-right-radius: 10px;
	 border-bottom-right-radius: 10px;
	 height: 100%;
}
 header {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 padding: 1em 0;
}
 header h4 {
	 font-size: 1.2rem;
	 font-weight: normal;
	 grid-column: -1;
	 margin-bottom: 20px;
}
 header p {
	 font-size: 0.7rem;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 font-weight: bold;
}
 header p:nth-child(2) {
	 color: #9b9b9b;
}
 header p:nth-child(3) {
	 color: #B58D3D;
	 justify-self: end;
	 cursor: pointer;
}
 header p:nth-child(3):hover {
	 color: inherit;
}
 .section {
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	 grid-auto-rows: 1fr;
	 grid-gap: 1em;
	 grid-auto-flow: dense;
}

.sectionAdmin {
	width: 100%;
   	display: grid;
   	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	grid-gap: 2em;
	padding: 4em;
}

.sectionData {
	padding: 1em;
	justify-content: center;
	margin: 0 auto;
}
.cardAdmin {
	width: 100%;
	background-color: #fff;
	padding: 1em;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	text-align: center;
}

.listAdmin {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}
.adminContainer {
	display: flex;
	flex-direction: row;
}
.card-head {
display: flex;
flex-direction: row;
margin: 0 auto;
gap: 0.5em;
}

.btn-card {
	font-size: 0.5em;
	letter-spacing: 0.1em;
	padding: 1em;
	border: none;
	border-radius: 0.4em;
	cursor: pointer;
	justify-content: space-between;
	display: flex;
	gap: 0.3em;
}
.btn-card:hover {
	font-size: 0.5em;
	letter-spacing: 0.1em;
	padding: 1em;
	border: none;
	border-radius: 0.4em;
	cursor: pointer;
	color: #4d76fd;
	font-weight: 600;
}

 .card {
	 width: 100%;
	 background-color: #fff;
	 padding: 2em;
	 border-radius: 5px;
	 cursor: pointer;
	 transition: 0.3s;
}
 .card:hover {
	 box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
     scale: 1.05;
}
 .card__avatar {
	 border-radius: 50%;
	 margin-bottom: 10px;
	 border: 1px solid #f1f1f1;
}
 .card__name {
	 font-size: 0.7rem;
	 letter-spacing: 2px;
	 text-transform: uppercase;
	 font-weight: bold;
	 color: #00a5a7;
}
 .card__country {
	 color: #9b9b9b;
	 font-size: 0.8rem;
	 margin: 5px 0 20px;
}

.card__status {
	color: green;
	font-size: 0.8rem;
	margin: 5px 0 20px;
}
 .card__article {
	 font-size: 0.9rem;
	 line-height: 1.4rem;
}  
.logoutBtn {
	bottom: 20px;
	position: absolute;
}
 @media (max-width: 880px) {
	 .user {
		 grid-template-columns: 1fr;
		 justify-items: center;
	}
	 nav {
		 padding: 0;
	}
	 nav ul li {
		 grid-template-columns: 1fr;
		 justify-items: center;
	}
	 nav ul li svg {
		 margin-bottom: 10px;
	}
	 .settings {
		 grid-template-columns: 1fr;
		 justify-items: center;
		 padding: 0;
	}
	 .settings svg {
		 margin-bottom: 10px;
	}
}
 @media (max-width: 680px) {
	 .container {
		 grid-template-columns: 16% 1fr;
	}
	 aside, main {
		 padding: 2em;
	}
	 main {
		 padding: 3em 1em;
	}
	 .user__info {
		 display: none;
	}
	 nav ul li svg {
		 width: 24px;
		 height: 24px;
	}
	 nav ul li span {
		 display: none;
	}
	 .settings svg {
		 width: 24px;
		 height: 24px;
	}
	 .settings span {
		 display: none;
	}
}

.mail-members {
	width: 40px;
	height: 40px;
	margin-left: auto;
}
.mail-choice {
	display: none;
}

.mail-choice:checked .msg {
	background-color: red;
}
.add-task {
	position: sticky;
	flex-shrink: 0;
	bottom: 0;
	left: 0;
	height: 80px;
	margin-top: auto;
	border-top: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	background-color: var(--theme-bg-color);
	animation: slideUp 0.45s 0.4s both;
}
.add-button {
	position: sticky;
	bottom: 10px;
	background-color: var(--button-color);
	border: 0;
	margin: auto;
	padding: 10px 30px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	border-radius: 20px;
	flex-shrink: 0;
	z-index: 1;
	cursor: pointer;
}

.mail-detail {
	display: flex;
	animation: slideX 0.6s both;
	flex-direction: column;
	overflow: auto;
	background-color: var(--theme-bg-color);
}
.mail-detail-profile {
	display: flex;
	align-items: center;
}
.mail-detail-header {
	border-bottom: 1px solid var(--border-color);
	padding: 16px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.mail-detail-name {
	font-size: 14px;
	font-weight: 600;
	margin-left: 10px;
	white-space: nowrap;
}
@keyframes slideX {
	0% {
		opacity: 0;
		transform: translateX(200px);
   }
}
.inbox-detail {
	width: 44px;
	height: 44px;
}
.mail-icons {
	flex-shrink: 0;
}
.mail-icons svg {
	width: 42px;
	height: 42px;
	padding: 13px;
	flex-shrink: 0;
	margin-left: 10px;
	border-radius: 50%;
	overflow: visible;
	background-color: var(--button-bg-color);
	color: var(--button-color);
}
.mail-icons svg:first-child {
	margin-left: 0;
}
.mail-contents {
	padding: 30px;
}
.mail-contents-subject {
	display: flex;
	align-items: center;
	margin-bottom: 0.8em;
}
.mail-contents-title {
	font-weight: 700;
	font-size: 17px;
	margin-left: 5px;
}
.mail {
	padding-left: 55px;
	font-size: 14px;
	color: var(--main-light-color);
}
/* .mail-time {
	font-weight: 600;
	display: flex;
	align-items: center;
	font-size: 13px;
	margin-bottom: 0.5em;
}
.mail-time svg {
	width: 12px;
	margin-right: 8px;
} */
.mail-inside {
	padding: 20px 0 30px;
	border-bottom: 1px solid var(--border-color);
	color: var(--main-color);
	line-height: 1.8em;
}
.mail-checklist {
	padding: 14px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
}
.mail-checklist .mail-choice + label:before {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	margin-right: 12px;
   
}
.mail-checklist label {
	display: flex;
	align-items: center;
	color: var(--button-color);
	font-weight: 600;
	font-size: 13px;
}
.mail-checklist-date {
	margin-left: 16px;
	font-size: 13px;
}
.assignee {
	font-size: 13px;
	margin-bottom: 10px;
}
.assignee :last-child {
	margin-bottom: 0;
}
.mail-assign {
	padding: 20px 0;
	border-bottom: 1px solid var(--border-color);
}
.mail-doc {
	display: flex;
	align-items: center;
	padding: 30px 0;
	flex-shrink: 0;
	justify-content: space-between;
}
.mail-doc-name {
	color: var(--body-color);
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 3px;
}
.mail-doc-date {
	font-size: 13px;
}
.mail-doc-wrapper {
	display: flex;
	align-items: center;
}
.mail-doc-wrapper svg {
	margin-right: 15px;
	background-color: var(--button-bg-color);
	color: var(--button-color);
	width: 50px;
	padding: 9px;
	border-radius: 4px;
}
.mail-doc-icons svg:not(:last-child) {
	margin-right: 8px;
}
.mail-textarea {
	display: flex;
	background-color: var(--unselected-mail);
	padding: 30px 0;
	border-top: 1px solid var(--border-color);
	position: sticky;
	bottom: 0;
	justify-content: space-between;
	margin-top: auto;
	left: 0;
	overflow: hidden;
	height: 80px;
	flex-shrink: 0;
}
.mail-textarea input {
	border: none;
	background-color: transparent;
	font-size: 15px;
	width: 100%;
	padding: 0 30px;
	color: var(--main-color);
}
.mail-textarea input::placeholder {
	color: var(--main-light-color);
}
.textarea-icons {
	display: flex;
	align-items: center;
}

input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 0em;
    padding: .5em 0;
    border: none;
  }

  .register {
	  text-align: center;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  gap: 30px

  }

  .register > div {
	  margin: 3em;
  }


  .loginForm {
	  width: 50%;
	  margin: 0 auto;
  }
.buttons {
	display: flex;
	margin-top: 8px;
	width: 100%;
  }
  .button {
	align-items: center;
	background: #edf1f7;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 0 5px 28px 20px;
	width: 7em;
	font-size: 13px;
  }
  .buttonCard {
	align-items: center;
	background: #edf1f7;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	font-size: 10px;
	border: none;
  }

  .login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
	.login h1 { 
	color: #fff;
	 text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	 letter-spacing:1px;
	 text-align:center; }

	 .btn { 
	display: inline-block; 
	padding: 6px 10px 6px; 
	margin-bottom: 0;
	font-size: 13px; 
	line-height: 18px; 
	color: white;
	text-align: center;

	vertical-align: middle; 
	background-color: #0060f6; 
	border-radius: 4px;
}
.btn:hover {
	 background-color: rgba(0, 96, 246, 0.7);
	 }


.inputLogin { 
	width: 100%; 
	margin-bottom: 2em; 
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	border: 0.7px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { 
	box-shadow:  0 1px 1px rgba(255,255,255,0.1) 
}


  .buttonSign {
	
	align-items: center;
	background: #edf1f7;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	height: 30px;
	justify-content: center;
	margin-top: 2em;
	width: 30em;
  }
  
  .button:last-child {
	margin: 0 20px 20px 5px;
  }
  
  .button-primary {
	background-color: #0060f6;
	color: #fff;
  }
  

  .label {
	display: inline-flex;
	align-items: left;
	cursor: pointer;
	color: var(--main-color);
	
  }
  
  .label-text {
	margin-left: 0.3em;
	font-size: 0.7em;
	margin-top: 0.4em;
  }
  .toggle {
	isolation: isolate;
	position: relative;
	height: 20px;
	width: 40px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow:
	  -2px -2px 2px 0px #efefef,
	  2px 1px 3px 0px #d1d9e6,
	  1px 1px 1px 0px #d1d9e6 inset,
	  -1px -1px 1px 0px #cecece inset;
  }
  
  .toggle-state {
	display: none;
  }
  
  .indicator {
	height: 100%;
	width: 200%;
	background: #ecf0f3;
	border-radius: 15px;
	transform: translate3d(-75%, 0, 0);
	transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
	box-shadow:
	  -3px -1px 3px 0px #00b9eb,
	  4px 2px 6px 0px #d1d9e6;
  }
  
  .toggle-state:checked ~ .indicator {
	transform: translate3d(25%, 0, 0);
  }
  

  h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}



.inputWrapper input  {

display: flex;
align-items: center;
display: flex;
border: solid 0.5px #ccc;
padding: 9px 10px 9px 32px;
width: 150px;

-webkit-border-radius: 10em;
-moz-border-radius: 10em;
border-radius: 10em;
	
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;

}


.inputWrapper {

	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.inputWrapper input:focus {
	width: 250px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.inputWrapper:-moz-placeholder {
	color: #999;
}
.inputWrapper:-webkit-input-placeholder {
	color: #999;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}


/* added styles table admin */


h1 {
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 60px;
	font-size: 50px;
	letter-spacing: .12em;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(34,34,34,0.3);
}
@media (max-width: 798px) {
	h1 {
		font-size: 40px;
   }
}
.flex-table {
	width: 100%;
}
.flex-table [class^='flex-table--'] {
	display: flex;
	width: 100%;

}
.flex-table [class^='flex-table--']:not(.flex-table--body):not(.flex-table--header) {
	padding: 1.4em 1.2em;
	font-size: 14px;
}
.flex-table [class^='flex-table--'] span {
	display: block;
	flex: 1.5;
	margin-top: 0.5em;
}
.flex-table [class^='flex-table--'] span:nth-child(1) {
	flex: inherit;
	margin-right: 15px;
}
.flex-table [class^='flex-table--'] span:nth-child(2) {
	flex: 3;
}
.flex-table .flex-table--header {
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: .6em;
}
.flex-table .flex-table--body {
	flex-direction: column;
	margin-bottom: 20em;
}
.flex-table .flex-table--row {
	position: relative;
	transition: .2s;
}
.flex-table .flex-table--row:nth-child(even) {
	background: #3a3a3a;
}
.flex-table .flex-table--row:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #fff;
	height: 10px;
	width: 10px;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	opacity: 0;
	transition: .2s;
}

input[type="checkbox"] {
	display: none;
	position: relative;
}
input[type="checkbox"] + label {
	cursor: pointer;
}
input[type="checkbox"] + label span {
	display: block;
	top: 0;
	left: 0;
	background: #fff;
	height: 17px;
	width: 17px;
	position: relative;
}
input[type="checkbox"] + label span:before {
	content: "\f00c";
	font-family: Fontawesome;
	position: absolute;

	top: -6px;
	right: -6px;
	font-size: 22px;
	transform: scale(0);
	transition: .2s;
}
input[type="checkbox"]:checked + label span:before {
	transform: scale(1);
}
